body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.grid-layout{
    display: block;

}
header{
    background-color: #5a2b66;
    height: auto;
    width: 100%;
    font-size: larger;
    position: fixed;
    text-align: center;
}
.container{
    position: initial;    

}
.form-content{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 20px 60px;
  /*  border: 1px solid black;
    border-radius: 25px;
    width: 700px;
    margin: 25px;*/
}
#survey-form{
    margin: auto;
}